.home-title, .question-number, .thank-you {
  color: #3A7859;
  text-align: center;
  margin-top: 134px;

  /* Headings/H2-50px-Bold-150% */
  font-size: 50px;
  font-family: Barlow, serif;
  font-weight: 700;
  line-height: 150%;
}

.quiz-category-title {
  display: flex;
  justify-content: center;
  margin-top: 146px;

  color: #354153;
  text-align: center;
  /* Headings/H6-30px-Bold-150% */
  font-size: 30px;
  font-family: Barlow, serif;
  font-weight: 700;
  line-height: 150%;
}

.quiz-category-dropdown-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.margin-top-99 {
  margin-top: 99px;
}

.quiz-start {
  width: 150px;
}

.quiz-start-selected {
  width: 155px;
}

.button-score-board {
  margin-top: 30px;
  width: 212px;

  display: flex;

  padding: 16px 20px 18px 20px;
  justify-content: center;
  align-items: center;
  gap: 6px;

  border: none;
  border-radius: 18px;
  background-color: #EAC505;
  color: #FFFFFF;
  font-size: 18px;
  font-family: Barlow, serif;
  font-weight: 700;

  &:hover {
    background-color: #E1AB00;
    cursor: pointer
  }
}

.question-container, .thank-you-container, .quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 15px;
}

.difficulty {
  display: flex;
  width: 100px;
  padding: 4px 8px 6px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-top: 22px;

  border-radius: 12px 0 12px 12px;
}

.difficulty-text {
  color: #FFF;
  /* Paragraph/P4-16px-Medium-170% */
  font-size: 16px;
  font-family: Barlow, serif;
  font-weight: 500;
  line-height: 170%;
}

.question-answer-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;

  margin-top: 87px;
}

.question {
  color: #354153;

  /* Headings/H6-30px-Bold-150% */
  font-size: 30px;
  font-family: Barlow, serif;
  font-weight: 700;
  line-height: 150%;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
}

.answer {
  display: flex;
  flex: 1 0 0;
  width: 290px;

  padding: 16px 20px 18px 20px;
  justify-content: center;
  align-items: center;
  gap: 6px;

  border-radius: 18px;
  //border: 2px solid #95B6A9;
}

.score {
  color: #354153;
  margin-top: 146px;

  /* Headings/H6-30px-Bold-150% */
  font-size: 30px;
  font-family: Barlow, serif;
  font-weight: 700;
  line-height: 150%;
}

.button-restart {
  margin-top: 72px;
}

.transition-300-ease-in-out {
  transition: all 0.3s ease-in-out;
}

.button {
  display: flex;

  padding: 16px 20px 18px 20px;
  justify-content: center;
  align-items: center;
  gap: 6px;

  border: none;
  border-radius: 18px;
  background-color: #3A7859;
  color: #FFFFFF;
  font-size: 18px;
  font-family: Barlow, serif;
  font-weight: 700;

  &[disabled] {
    background-color: #F6F7F8;
    color: #C4C4C4;
  }
  &:hover {
    &:not([disabled]) {
      background-color: #2D6A4C;
      cursor: pointer
    }
  }
}

.answer-button {
  display: flex;
  width: 290px;

  padding: 16px 20px 18px 20px;
  justify-content: center;
  align-items: center;
  gap: 6px;

  color: #354153;
  /* Button text/B2-18px-Bold-Auto */
  font-size: 18px;
  font-family: Barlow;
  font-weight: 700;

  border-radius: 18px;
  border: 2px solid #95B6A9;

  &:hover {
    border: 2px solid #D4E0E0;
    background: #D4E0E0;
    cursor: pointer
  }
}

.answer-text {
  color: #354153;
  /* Button text/B2-18px-Bold-Auto */
  font-size: 18px;
  font-family: Barlow;
  font-weight: 700;
}
