.quiz-title {
  display: flex;
  justify-content: center;
}

.quiz-category-title {
  display: flex;
  justify-content: center;
}

.quiz-category-dropdown-wrapper {
  display: flex;
  justify-content: center;
}

.quiz-start {
  display: flex;
  justify-content: center;
}

