<div>
  <div *ngIf="(screenName$ | async) === 'home'" @enterAnimation @leaveAnimation>
    <app-quiz-home></app-quiz-home>
  </div>
  <div *ngIf="(screenName$ | async) === 'game'" @enterAnimation @leaveAnimation>
    <app-quiz-game></app-quiz-game>
  </div>
  <div *ngIf="(screenName$ | async) === 'thank-you'" @enterAnimation @leaveAnimation>
    <app-quiz-thank-you></app-quiz-thank-you>
  </div>
  <div *ngIf="(screenName$ | async) === 'score-board'" @enterAnimation>
    <app-score-board></app-score-board>
  </div>
</div>
